<div class="card" style="width: 18rem;">
  <img src="" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= brewery.name %></h5>
    <p>Brewer's pick</p>
    <ul>
      <% brewery.beers.limit(2).each do |beer| %>
      <li><%= beer.name %></li>
      <% end %>
    </ul>
    <%= link_to "Details", brewery_path(brewery), class: "btn btn-dark detail-btn"  %>
  </div>
</div>
