<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">

        <div class="col-md-8 item">
          <h3>About</h3>
          <ul>
            <li><a href="https://www.linkedin.com/in/ryuichiro-suzuki-scooter/">Ryuichiro Suzuki (me)</a></li>
            <li><a href="https://www.lewagon.com">Where I learned to code</a></li>
            <li><a href="https://www.formula1.com">My passion</a></li>
          </ul>
        </div>

        <div class="col-md-4 item text">
          <h3>Dear whom it may concern...</h3>
          <p>Please hire me. I'm really friendly <i class="far fa-grin-tongue-squint"></i></p>
        </div>

        <div class="col item social"><a href="https://github.com/SuzukiRyuichiro"><i class="icon fab fa-github-square"></i></a><a href="https://twitter.com/CasualRyuichiro"><i class="icon fab fa-twitter"></i></a><a href="#"><i class="icon fab fa-linkedin"></i></a><a href="https://www.instagram.com/ryuichiro_scooter/"><i class="icon fab fa-instagram"></i></a></div>
      </div>
      <p class="copyright">BeerPedia © <%= Date.today.year %></p>
    </div>
  </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
