<%= render partial: "components/navbar" %>

<h1 class="brewery-name"><%= @brewery.name %></h1>

<div id="map" class="mt-5 row justify-content-center" style="height: 600px; width: 100%"></div>

<%= render partial: "components/footer" %>
